body{
    padding-top: 0px;
    padding-bottom: 70px;
}

.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 5px solid #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3e3f3a;
    color: white;
}

.navbar {
    font-family: cursive;
    color: grey;
    border-bottom: 5px solid #aaa;
}

.jumbotron {
    background-color: lightblue;
    border: 5px solid #aaa;

}

.completed-task {
    text-decoration: line-through;
    
    
}

.boxed {
    background-color: lightblue;
    border-radius: 5px;
    height: 150px;
    padding-top: 20px;
    border: 5px solid #aaa;
    text-align: center;
    word-wrap: break-word;
    width: 26em;
}

.pull-down{
    position: absolute;
    bottom: 0;
    margin-left: 45px;
}